# docker compose up -d --build
# docker compose restart scheduler
APP_NAME=Auto Uploader Guest
APP_BASE_URL=

INDEX_PATH=/index.php
PROSES_PATH=/proses.php

PYTHON_BIN=/opt/venv/bin/python
PYTHON_SCRIPT=uploader.py

TEMP_DIR=temp_uploads
MAX_FILE_SIZE_MB=512

DEFAULT_SERVER=sfile
AVAILABLE_SERVERS=sfile,simfile

# === FITUR BARU: SCHEDULE UPLOAD ===
QUEUE_DIR=queue_uploads
SCHEDULE_INTERVAL_MINUTES=1
TELEGRAM_BOT_TOKEN=8444688308:AAHQr6SSklfQtFNdg0TQ2QqLEpLnWNRPdGg
TELEGRAM_CHAT_ID=6663648335
SCHEDULE_STATUS=running
